@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inputGroup {
    font-family: "Segoe UI", sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
  }

  .inputGroup input {
    font-size: 100%;
    padding: 0.3em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    font-size: 13px;
  }

  .inputGroup label {
    font-size: 13px;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }

  .inputGroup :is(input:focus, input:valid) ~ label {
    transform: translateY(-50%) scale(0.9);
    margin: 0em;
    margin-left: 0.5em;
    padding: 1px 5px;
    background-color: #ffffff;
    border-radius: 5px;
  }

  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }

  .add-question {
    height: 130px;
    border: 1px dashed black;
    border-radius: 8px;
    flex-direction: column;
    text-align: center;
  }

  .question-box {
    background: white;
    padding: 10px;
    border-radius: 8px;
  }
  .question-box p {
    font-size: 13px;
  }
  .section-heading {
    @apply text-3xl font-bold mb-4;
  }

  .my-input {
    @apply w-full h-16 p-3 pt-4 placeholder-transparent border border-gray-200 rounded-md focus:outline-none focus:border-gray-500 focus:shadow-sm;
  }
  .my-label {
    @apply absolute top-0 left-0 h-full px-3 tracking-wider py-5 text-sm transition-all duration-100 ease-in-out origin-left transform scale-75 translate-x-1 -translate-y-3 opacity-75 pointer-events-none peer-placeholder-shown:opacity-100 peer-focus:text-primary peer-focus:font-semibold peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-3 peer-placeholder-shown:translate-x-0 peer-focus:translate-x-1;
  }

  /* custom switch */
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #d1fae5;
    border-radius: 50px;
    transition: all 0.2s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    left: 0.15em;
    bottom: 0.15em;
    background-color: white;
    border-radius: 50px;
    transition: all 0.2s;
  }

  .switch input:checked + .slider {
    background: #10b981;
  }

  .switch input:focus + .slider {
    box-shadow: 0 0 1px #10b981;
  }

  .switch input:checked + .slider:before {
    transform: translateX(1.05em);
    top: 0.15em;
    width: 1.2em;
    height: 1.2em;
    bottom: 0;
  }

  .dashboard-mini-card {
    @apply p-4 rounded-lg flex items-center justify-start;
  }
  .dashboard-mini-card div > h2 {
    @apply text-lg font-bold;
  }
  .dashboard-mini-card div > p {
    @apply text-3xl font-bold;
  }

  .image-container {
    width: 100%;
  }

  .image-container > div {
    position: unset !important;
  }

  .image-container .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
