@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-input {
    @apply w-full h-16 p-3 pt-4 placeholder-transparent border border-gray-200 rounded-md focus:outline-none focus:border-gray-500 focus:shadow-sm;
  }
  .my-label {
    @apply absolute top-0 left-0 h-full px-3 py-5 text-sm transition-all duration-100 ease-in-out origin-left transform scale-75 translate-x-1 -translate-y-3 opacity-75 pointer-events-none peer-placeholder-shown:opacity-100 peer-focus:opacity-75 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-3 peer-placeholder-shown:translate-x-0 peer-focus:translate-x-1;
  }

  .section-heading {
    @apply text-3xl font-bold mb-4;
  }

  /* custom switch */
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #d1fae5;
    border-radius: 50px;
    transition: all 0.2s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    left: 0.15em;
    bottom: 0.15em;
    background-color: white;
    border-radius: 50px;
    transition: all 0.2s;
  }

  .switch input:checked + .slider {
    background: #10b981;
  }

  .switch input:focus + .slider {
    box-shadow: 0 0 1px #10b981;
  }

  .switch input:checked + .slider:before {
    transform: translateX(1.05em);
    top: 0.15em;
    width: 1.2em;
    height: 1.2em;
    bottom: 0;
  }
}
